@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto|Source+Code+Pro:700&display=swap&subset=cyrillic');

@font-face {
    font-family: Montserrat;
    src:url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
        url('../fonts/montserrat-regular-webfont.woff') format('woff'),
        url('../fonts/Montserrat-Regular.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.4rem;
}

* {
    box-sizing: border-box;
}

h3 {
    color: rgb(8, 223, 212); 
    text-align: center; 
    font-style: italic; 
    border-bottom: 1px solid #000;
    font-size: 1.6rem;
    text-transform: uppercase;
}

#heading {
    border-bottom: 1px solid #000;
    font-size: 3rem;
}

.navy {
    text-decoration-color: navy;
    text-decoration-line: overline;
    text-decoration-style: dotted;
    text-align: center; 
}

.text {
    text-align: center;
    font-style: italic;
    text-indent: 2rem;
    font-size: 1.5rem;
}

.skills {
    list-style: none;
    list-style-image: url(../img2/arrow2.png);
}

li {
    font-family: Montserrat, Arial, sans-serif;
    color: rgb(4, 78, 4); 
    text-align: left; 
    font-style: italic;
}

ol {
    display: table;
    margin: auto;
}

p {
    font-family: Roboto, Arial, sans-serif;
    text-align: center;
    font-style: italic;
}

.size {
    /*font-family: 'Lobster', cursive; font-family: 'Source Code Pro', monospace;*/
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(7, 18, 173);
    text-align: center;
}

.product-item {
    background-color: chartreuse;
    color: #fff;
    padding: 10px 15px;
    margin: 0px 0 50px;
    height: 100vh;
}
    /* СКРУГЛЕНИЕ!!! border-radius: 50px 0; */
    /* РАМКА!!! outline: 1px solid red;*/
    /* ТЕНЬ!!! box-shadow: black 0 0 20px 10px; */

.product-item:first-child {
    background: url(../img4/cv.jpeg) no-repeat, url(../img4/cv.jpeg) no-repeat;
    background-color: coral;
    background-position: top center, bottom center;
    background-size: 500px, 200px;
}

.product-item:nth-child(2) {
    background: url(../img4/cv.jpeg) no-repeat;
    background-size: cover;
    background-color: coral;
    background-position: right top;
    background-attachment: fixed;
}

.product-item_title {
    width: 50%;

    height: auto;

    box-sizing: border-box;

    /*могут быть и такие значения 
    margin: 10px 0 15px; 
    line-height: 1;
    border: 1px solid #000;*/

    margin: 10px auto;

    padding: 10px 15px;
}

.product-item_description {
    /*border: 1px solid #f00;*/
}

body {
    background-image: url(../img3/bg.png);
    margin: 0;
    /* тоже сво-ва по работе с картинкой!!!!! 
    background-repeat: no-repeat; 
    background-position: center; */
}